@media (min-width: 578px) {
  .nav-btn,
  .logo {
    margin-bottom: 0;
  }
  .navigation {
    align-items: center;
    margin-bottom: 152px;
  }
  .partners-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .partners-title {
    margin-bottom: 34px;
  }
}

@media (min-width: 768px) {
  .secondary-media {
    max-width: 540px;
  }
  .main-head {
    background-image: url(../img/bg-940w.png);
  }
  .promo-title {
    font-size: 5.2rem;
  }
  .promo-description {
    font-size: 2.4rem;
    max-width: max-content;
  }
  .section-btn {
    max-width: 226px;
  }
}

@media (min-width: 992px) {
  .secondary-media {
    max-width: 960px;
  }
  .main-head {
    background-image: url(../img/bg-1440w.png);
  }
  .main-head {
    padding-bottom: 240px;
  }
  .navigation {
    margin-bottom: 150px;
  }
  .promo-description,
  .promo-title {
    margin-bottom: 40px;
  }
}
